/*---------For full page---------*/
*{
    
    margin: 0;
    padding: 0;
}
/*---------navigation-----------*/
#navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: lef;
}

#navbar ul li a:hover{
    color: #304ffe !important;
}

.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none !important;
}
.nav-link{
    color: #555 !important;
    font-weight: 600;
    font-size: 16px;
}

/*-----------slider------------*/
.carousel-caption{
    top: 50%;
    transform: translateY(-20%);
    bottom: intial !important;
}
.carousel-caption h5{
    align-content: center;
    color: #fff;
    font-size: 50px;
}

/*-----------about------------*/
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content{
    padding-top: 20px;
}
.skill-bar p{
    margin-bottom: 6px;
}
.progress-bar{
    border-radius: 16px;
}
.progress{
    border-radius: 16px;
}

/*---------Services----------*/
#services{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/ser.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#services h1:after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#services p {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 01s;
    border: 1px solid #fff;
    border-radius: 50%;
}

 /*--------Our Team-----------*/
#team{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
h1{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.profile-pic{
    margin-top: 25px;
} 
.profile-pic  .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic  .img-box img{
    filter: grayscale(1);
}
.profile-pic  .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff!important;
}
.profile-pic h2{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;

}
#team .fa{
    height: 25px;
    width: 25px;
    color: #007bff!important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box ul, .img-box ul li {
    transition: 0.5s;
}

/*---------Promo-----------*/
#promo{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/ser.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 40px;
}

/*---------Price plans-----------*/
#price{
    padding: 40px 0;
    background: #efefef;
}
.single-price{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
.single-price:hover{
    box-shadow: 0 2px 20px #333;
    transform: translateY(-10px);
}
.price-head{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}
.price-head h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
#price span{
    font-size: 15px;
}
.price-content{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.price-content ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}
ul li:last-child{
    border: none;
}
.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.price-botton{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}
.buy-btn{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
    box-shadow: 0 2px 20px #333;
    transform: translateY(-10px);
}
a{
    text-decoration: none;
    color:#fff!important;
    
}

/*---------Testimonials-----------*/
#testimonials{
    padding-top: 50px;
    padding-bottom: 50px;
}
#testimonials .row{
    margin-top: 30px;
}
.col-md-4 {
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.profile img{
    top: -40px;
    position: absolute;
    left:calc(50% - 60px);
    border: 5px solid #fff;
}
.user{
    width: 105px;
    height: 120px;
    border-radius: 50%;
}
#testimonials span{
    font-size: 12px;
    color: #333;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}

#testimonials .fa{
    color: #304ffe;
}

.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(-5px);
}

/*---------Get In Touch--------*/
#contact{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0!important;
    border: none!important;
}
::placeholder{
    color: #999!important;
}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
#contact .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
.ico:hover{
    transform: translateY(-5px);
}
